* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --flower: 'Indie Flower', cursive;
    --RocknRoll: 'RocknRoll One', sans-serif;
    --not-white: #fffaf3;
    --not-pink: #ebbcba;
    --not-black: #1f1d2e;
    --dark-blue: #286983;
    --light-blue: #9ccfd8;

}

body {
    font-family: var(--RocknRoll);
    background-color: var(--light-blue);
    color: var(--not-black);
    text-align: center;
}

h1 {
    font-family: var(--flower);
}

.container {
    display: flex;
    flex-direction: column;
}

.nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav li, .section-header, .shop-item p {
    padding: 1rem;
}

.band-name, footer {
    background-color: var(--dark-blue);
    color: var(--not-white);
}

@media screen and (min-width: 640px) {
    .shop-items {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

.shop-item {
    margin-top: 1rem;
}

.shop-item > img {
    cursor: pointer;
}

.cart {
    background-color: var(--not-pink);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0.5rem;
}

.cart-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.cart-row > span {
    width: 15rem;
}

.cart-row img {
    width: 80%
}